<% if @favorites.present? %>
  <% @favorites.each do |favorites| %>
    <div class="col-sm-6 col-md-3 col-xs-12">
      <table>
        <tr>
          <td>作成者</td>
        </tr>
        <tr>
          <td><%= favorites.picture.user.name %></td>
        </tr>
        <tr>
          <th class= 'show_table_honbunTH' colspan='2'>Content</th>
        </tr>
        <tr class ="birdscontent">
            <th  colspan='2'><%= image_tag (favorites.picture.image.url) %></th>
        </tr>
        <tr class ="birdscontent">  
          <th colspan='2'><%= link_to favorites.picture.content %></th>
        </tr>
      </table>
    </div>
  <% end %>
<% else %>
  <h1>登録されたお気に入りがありません。</h1>
<% end %>

